<section>
  <div class="ellipse-container">
    <div>
      <img class="ellipse" src="./assets/icons/ellipse.svg" alt="ellipse">
    </div>
  </div>
  <div class="container">
    <div class="top">
      <div class="left">
        <span>Let's work together</span>
      </div>
      <div class="right">
        <span>
          I am a software engineer based in East Brandenburg, Germany. I enjoy helping designers and companies bring their ideas into real life. I am looking forward to continuing my Engineer career with a job in a junior software engineering position. 
        </span>
        <br>
        <span>
          If you think I’d be a good match for your projects, contact me!
        </span>
      </div>
    </div>
    <div class="bottom">
      <app-button [buttonText]="'Send a message'"></app-button>
    </div>
    
  </div>
</section>