<section id="aboutMe">
  <div class="ellipse-container">
    <div>
      <img class="ellipse" src="./assets/icons/ellipse.svg" alt="ellipse">
    </div>
  </div>
  <div class="container">
    <div class="top">
      <div class="left">
        <span>{{'aboutMe.title' | translate}}</span>
      </div>
      <div class="right">
        <span>
          {{'aboutMe.description' | translate}}
        </span>
        <br>
        <span>
          {{'aboutMe.recency' | translate}}
        </span>
      </div>
    </div>
    <div class="bottom">
      <a href="#contact">
        <app-button [buttonText]="'aboutMe.button' | translate"></app-button>
      </a>
    </div>
    
  </div>
</section>