@import "../../../shared/shared_var.scss";

section {
  width: 100%;
  @include displayFlex(column, center, center);
}
.container {
  @include displayFlex(column, center, flex-end);
  padding: 0 $sidePadding;
  gap: 13px;
  padding-bottom: 123px;
  max-width: $maxWidth;
  box-sizing: border-box;
}

.ellipse-container {
  padding-top: 64px;
  padding-bottom: 40px;
  width: 100%;
  max-width: $maxWidth;
  @include displayFlex(row, flex-end, flex-end);
  >div {
    width: 50%;
    @include displayFlex(row, center, center);
  }
}

.ellipse {
  height: 82px;
  width: 82px;
}

.top {
  display: flex;
  gap: 75px;
}

.bottom {
  width: 50%;
  @include displayFlex(row, center, center);
}

.left {
  > span {
    font-family: "Baloo";
    line-height: 118px;
    font-size: 118px;
    letter-spacing: 1px;
    color: $strongRed;
    font-weight: 800;
  }
  @include displayFlex(column, center, center);
  flex: 1;
}

.right {
  flex: 1;
  > span {
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
  } 
  @include displayFlex(column, center, flex-start);
}

@media (max-width: 1300px) {
  .container {
    padding: 0 $sidePaddingTablet;
    padding-bottom: 123px;
  }
}

@media (max-width: 1160px) {
  .top {
    flex-direction: column;
  }
  .container {
    gap: 34px;
  }
  .left {
    > span {
      line-height: 64px;
      font-size: 64px;
    }
  }
  .bottom {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .container {
    padding: 0 $sidePaddingMobile;
    padding-bottom: 49px;
  }
}