<section >
  <div class="background"></div>
  <div class="ellipse-container">
    <img src="./assets/icons/ellipse.svg" alt="ellipse" class="ellipse1" />
    <img src="./assets/icons/ellipse.svg" alt="ellipse" class="ellipse2" />
  </div>
  <div class="anchor" id="contact"></div>
  <div class="container"  >
    <div class="header" >
      <div class="header-title">{{ "contact.title" | translate }}</div>
    </div>
    <div class="form">
      <div class="description">
        <div class="description-title" >{{ "contact.description" | translate }}</div>
        <span class="description-text">
          {{ "contact.descriptionText" | translate }}
        </span>
        <div>
          <span>{{ "contact.recency1" | translate }}</span>
          <span>{{ "contact.recency2" | translate }}</span>
        </div>
      </div>
      <form
        class="form-container"
        (ngSubmit)="onSubmit(contactForm)"
        #contactForm="ngForm"
      >
        <div>
          <div class="label">
            @if (nameLabelOnFocus) {
            <span>{{ 'contact.labelName' | translate }}</span>
            }
          </div>
          <div class="error">
            <div class="error-icon">
              @if (!name.valid && name.touched) {
              <div><img src="./assets/icons/error.svg" alt="" /></div>
              } @else if (name.valid && name.touched) {
              <div><img src="./assets/icons/accepted.svg" alt="" /></div>
              }
            </div>
          </div>
          <input
            [(ngModel)]="formData.name"
            type="text"
            placeholder={{namePlaceholder}}
            (focus)="onFocus('name')"
            name="name"
            #name="ngModel"
            required
          />
          <div class="error text">
            @if (!name.valid && name.touched) {
            <span>{{ 'contact.errorName' | translate }}</span>
            }
          </div>
        </div>
        <div>
          <div class="label">
            @if (emailLabelOnFocus) {
            <span>{{ 'contact.labelEmail' | translate }}</span>
            }
          </div>
          <div class="error">
            <div class="error-icon">
              @if (!email.valid && email.touched) {
              <div><img src="./assets/icons/error.svg" alt="" /></div>
              } @else if (email.valid && email.touched) {
              <div><img src="./assets/icons/accepted.svg" alt="" /></div>
              }
            </div>
          </div>
          <input
            [(ngModel)]="formData.email"
            type="email"
            placeholder="{{ emailPlaceholder }}"
            name="email"
            (focus)="onFocus('email')"
            required
            #email="ngModel"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          />
          <div class="error text">
            @if (!email.valid && email.touched) {
            <span>{{ 'contact.errorEmail' | translate }}</span>
            }
          </div>
        </div>
        <div>
          <div class="label">
            @if (messageLabelOnFocus) {
            <span>{{ 'contact.labelMessage' | translate }}</span>
            }
          </div>
          <div class="error">
            <div class="error-icon">
              @if (!message.valid && message.touched) {
              <div><img src="./assets/icons/error.svg" alt="" /></div>
              } @else if (message.valid && message.touched) {
              <div><img src="./assets/icons/accepted.svg" alt="" /></div>
              }
            </div>
          </div>
          <textarea
            [(ngModel)]="formData.message"
            name=""
            id=""
            placeholder="{{ messagePlaceholder }}"
            name="message"
            (focus)="onFocus('message')"
            required
            #message="ngModel"
            minlength="10"
          ></textarea>
          <div class="error text">
            @if (!message.valid && message.touched) {
            <span>{{ 'contact.errorMessage' | translate }}</span>
            }
          </div>
          <div class="checkbox" (click)="toggleCheckbox()">
            <div class="checkbox_container">
              <div class="checkbox_icon">
                <img src="./assets/icons/{{ checkbox }}.svg" alt="" />
              </div>
              <div>
                <span> {{ 'contact.privacyPolicy.first' | translate }}</span>
                <a id='privacyPolicy' [routerLink]="'privacy'">{{ 'contact.privacyPolicy.link' | translate }}</a>
                <span>{{ 'contact.privacyPolicy.last' | translate }}</span>
              </div>
            </div>
            <div class="error">
              @if (!privacyPolicyChecked && (email.valid || name.valid ||
              message.valid)) {
              <span>{{ 'contact.checkboxError' | translate }}</span>
              }
            </div>
          </div>
          <div class="button-container">
            <app-button
              [buttonText]="'contact.button' | translate"
              [disabled]="!contactForm.valid || !privacyPolicyChecked"
            ></app-button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="up">
    <a href="#aboveTheFold" class="up-button">
      <svg
        width="39"
        height="39"
        viewBox="0 0 39 39"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          width="39"
          height="39"
          rx="19.5"
          fill="url(#paint0_radial_382_3349)"
          id="backToTopCircle"
        />
        <path
          d="M17.9998 15.828L13.3428 20.485C12.9524 20.8755 12.3193 20.8755 11.9288 20.485C11.5384 20.0945 11.5384 19.4615 11.9288 19.071L18.2927 12.7071C18.6833 12.3166 19.3164 12.3166 19.7069 12.7071L26.0708 19.071C26.4613 19.4615 26.4613 20.0945 26.0708 20.485C25.6804 20.8755 25.0473 20.8755 24.6568 20.485L19.9998 15.828L19.9998 27C19.9998 27.5523 19.5521 28 18.9998 28C18.4475 28 17.9998 27.5523 17.9998 27L17.9998 15.828Z"
          fill="white"
          id="backToTopArrow"
        />
        <defs>
          <radialGradient
            id="paint0_radial_382_3349"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(7.71693 8.74439) rotate(35.4598) scale(35.5349)"
          >
            <stop offset="0.0625" stop-color="#FF5959" />
            <stop offset="0.515625" stop-color="#FF5959" />
            <stop offset="1" stop-color="#DE0000" />
          </radialGradient>
        </defs>
      </svg>
    </a>
  </div>
</section>
