@import "../../../shared/shared_var.scss";

section {
  width: 100%;
  @include displayFlex(column, center, center);

  position: relative;
  .background {
    width: 100%;
    height: 100%;
    background: rgb(255, 234, 234);
    background: linear-gradient(
      0deg,
      rgba(255, 234, 234, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    position: absolute;
    z-index: -1;
  }
}

.container {
  @include displayFlex(column, center, center);
  padding: 0 $sidePadding 70px $sidePadding;
  max-width: $maxWidth;
  width: 100%;
  box-sizing: border-box;
  gap: 139px;
  transition: all 200ms ease-in-out;
}

.up {
  width: 100%;
  position: relative;
  max-width: $maxWidth;
  @include displayFlex(column, center, center);
}

.up-button {
  @include absPosition(unset, unset, 50px, 100px, 40px);
  z-index: 2;
  &:hover #backToTopArrow {
    fill: $strongRed;
  }
  &:hover #backToTopCircle {
    fill: none;
    transform: translateX(1px) translateY(1px);
    width: 37px;
    height: 37px;
    // rx="18.5px"; // Replace 'rx: 18.5px' with 'rx="18.5px"'
    stroke: $strongRed;
    stroke-width: "2";
  }
}

.ellipse-container {
  position: relative;
  width: 100%;
  max-width: $maxWidth;
  z-index: -1;
  .ellipse1 {
    @include absPosition(380px, unset, unset, 242px, 204px);
  }
  .ellipse2 {
    @include absPosition(604px, 91px, unset, unset, 73px);
  }
}

.header {
  width: 100%;
  position: relative;
  .header-title {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
  }
}

.anchor {
  position: absolute;
  top: -60px;
  width: 100%;
}

.form {
  @include displayFlex(row, center, flex-start);
  gap: 150px;
  width: 100%;
}

.description {
  @include displayFlex(column, flex-start, flex-start);
  gap: 25px;
  width: 50%;
  .description-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    color: $strongRed;
    padding-bottom: 10px;
  }
  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
  }
  > div {
    color: $strongRed;
    > span:last-child {
      font-weight: 700;
      padding-left: 4px;
    }
  }
}

.form-container {
  @include displayFlex(column, flex-start, flex-start);
  gap: 22px;
  width: 50%;
  > div {
    width: 100%;
  }
  .label {
    width: 100%;
    padding: 0 25px;
    position: relative;
    span {
      position: absolute;

      background: rgb(255, 255, 255);
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 1) 100%
      );
      transform: translateY(-50%);
      font-size: 16px;
      line-height: 19.2px;
    }
  }
}

input,
textarea {
  height: 50px;
  border: none;
  outline: 1px solid #ff5959;
  border-radius: 10px;
  width: 100%;
  padding: 0 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  &:hover {
    outline: #ff5959 2px solid;
  }
}

textarea {
  height: 200px;
  padding: 15px 25px;
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: black;
}

::-webkit-resizer {
  background-image: url("../../../assets/icons/Frame.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.checkbox {
  @include displayFlex(column, center, flex-start);
  gap: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  #privacyPolicy {
    text-decoration: none;
    color: $strongRed;
    margin-right: 10px;
  }
  &:hover .checkbox_icon {
    background: $redShadow;
    border-radius: 38px;
  }
  &:hover #privacyPolicy {
    color: $highlightRed;
    font-weight: 700;
    margin-right: 4px;
    text-decoration: underline;
  }
  .checkbox_icon {
    @include displayFlex(row, center, center);
    cursor: pointer;
  }
  .checkbox_container {
    @include displayFlex(row, center, flex-start);
    gap: 8px;
    padding-top: 16px;
    > span {
      padding-top: 5px;
    }
  }
}



.error {
  color: $errorRed;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding-right: 25px;
  .error-icon {
    position: relative;
    @include displayFlex(row, flex-end, center);
    > div {
      position: absolute;
      height: 50px;
      @include displayFlex(row, center, center);
      transform: translateY(50%);
    }
  }
}

.text {
  padding-top: 10px;
}

.button-container {
  @include displayFlex(row, center, center);
  padding-top: 12px;
}

@media (max-width: 1300px) {
  .container {
    padding: 0 $sidePaddingTablet;
    padding-bottom: 56px;
  }
  .up-button {
    left: $sidePaddingTablet;
  }
  .ellipse-container {
    .ellipse2 {
      right: $sidePaddingTablet;
    }
  }
}

@media (max-width: 1000px) {
  .header {
    .header-title {
      position: unset;
      transform: translate(0, 0);
      padding-top: 66px;
    }
  }
  .anchor {
    top: 0;
  }
  .container {
    gap: 35px;
  }
  .form {
    flex-direction: column;
    gap: 35px;
  }
  .description, .form-container {
    width: 100%;
  }
  .ellipse-container {
    .ellipse1 {
      width: 101.57px;
      height: 101.57px;
      left: 50%;
      transform: translateX(-50%);
      right: unset;
      top: 493px;
    }
    .ellipse2 {
      @include absPosition(930px, 16px, unset, unset, 42px);
    }
  }
}

@media (max-width: 530px) {
  .container {
    padding: 0 $sidePaddingMobile;
    padding-bottom: 56px;
  }
  .up-button {
    left: $sidePaddingMobile;
    bottom: 30px;
  }
  .ellipse-container {
    .ellipse2 {
      top: 940px;
    }
  }
}

@media (max-width: 360px) {
  .ellipse-container {
    .ellipse2 {
      top:1100px;
    }
  }
}