@import "../../../shared/shared_var.scss";

section {
  width: 100%;
  @include displayFlex(column, center, center);
  max-width: 100%;
  overflow-x: clip;
}

.container {
  @include displayFlex(column, center, center);
  padding: 111px $sidePadding 234px $sidePadding;
  max-width: $maxWidth;
  box-sizing: border-box;
  width: 100%;
}

.ellipse-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: $maxWidth;
  .ellipse1 {
    @include absPosition(50px, unset, unset, 40%, 108.75px);
  }
  .ellipse2 {
    @include absPosition(200px, $sidePadding, unset, unset, 183px);
  }
  .ellipse3 {
    @include absPosition(577px, unset, unset, unset, 393.32px);
    transform: translateX(-50%) rotate(81deg);
    z-index: -1;
  }
  .ellipse4 {
    @include absPosition(862px, -127px, unset, unset, 652.16px);
    transform: rotate(81deg);
    z-index: -1;
  }
  .ellipse5 {
    @include absPosition(1320px, unset, unset, 100px, 51px);
  }
  .ellipse6 {
    @include absPosition(1751px, unset, unset, 131px, 237.84px);
    transform: rotate(81deg);
    z-index: -1;
  }
  .ellipse7 {
    @include absPosition(2357px, 100px, unset, unset, 98px);
  }
}

.header {
  @include displayFlex(column, center, flex-start);
  width: 100%;
  gap: 35px;
  padding-bottom: 35px;
  .title-description {
    width: 47%;
    font-size: 23px;
    line-height: 27.6px;
  }
}

.projects {
  @include displayFlex(column, center, center);
  gap: 70px;
  width: 100%;
}

app-project {
  width: 100%;
}

@media (max-width: 1300px) {
  .container {
    padding: 111px $sidePaddingTablet 234px $sidePaddingTablet;
  }
}

@media (max-width: 1230px) {
  .ellipse-container {
    .ellipse1 {
      width: 45px;
      height: 45px;
    }
    .ellipse2 {
      width: 70px;
      height: 70px;
      top: 306px;
      right: $sidePaddingTablet;
    }
  }
}

@media (max-width: 1200px) {
  .projects {
    gap: 37px;
  }
  .ellipse-container {
    .ellipse3 {
      top: 400px;
      width: 223.11px;
      height: 223.11px;
    }
    .ellipse4 {
      width: 269.17px;
      height: 269.17px;
    }
    .ellipse5 {
      top: 1220px;
    }
    .ellipse6 {
      width: 134.91px;
      height: 134.91px;
      top: 1650px;
    }
  }
}

@media (max-width: 1000px) {
  .header {
    .title-description {
      width: 100%;
      font-size: 16px;
    }
  }
  .container {
    padding: 93px $sidePaddingMobile 15px $sidePaddingMobile;
  }
}

@media (max-width: 530px) {


  .ellipse-container {
    .ellipse5 {
      display: none;
    }
    .ellipse4 {
      width: 180px;
      height: 180px;
      right: -157px;
    }
  }
}

@media (max-width: 360px) {
  .ellipse-container {
    .ellipse6 {
      right: -96px;
      left: unset;
  }
}
}
