@mixin horizontalPadding {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  box-sizing: border-box;
}

header{
  >img{
      width: 64px;
      cursor: pointer;
  }
  position: absolute;
  top: 0;
  height: 120px;
  z-index: 2;
  padding: 24px;
  @include horizontalPadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}

div {
  a {
    color: #FF5959;
    font-size: 23px;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    &:hover {
      cursor: pointer;
      font-weight: 700;
    }
  }
  >div{
    width: 150px;
    display: flex;
    justify-content: center;
  }
  
  display: flex;
  gap: 18px;
}