@import "../../../shared/shared_var.scss";

.ellipse-container {
  position: relative;
  width: 100%;
  max-width: $maxWidth;

}

.ellipse {
  position: absolute;
  height: 892px;
  width: 62%;
  z-index: 0;
  left: -199px;
  top: -71px;
}

section {
  width: 100%;
  height: 100vh;
  background: rgb(255, 234, 234);
  background: linear-gradient(
    0deg,
    rgba(255, 234, 234, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  @include displayFlex(column, flex-start , center);
  overflow-x: clip;
}

.content {
  max-width: $maxWidth;
  position: relative;
  width: 100%;
  height: 100%;
}

.photo {
  position: absolute;
  bottom: 0;
  left: $sidePadding;
  width: 50%;
  max-height: 90%;
  object-fit: contain;
}

.right-side {
  position: absolute;
  right: $sidePadding;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 130px;
}

.title {
  color: #ff5959;
  display: flex;
  flex-direction: column;
  font-size: 64px;
  line-height: 64px;
  > span:nth-child(1) {
    padding-bottom: 17px;
  }
  > span:nth-child(2) {
    font-size: 120px;
    letter-spacing: -2px;
  }
  > span:nth-child(3) {
    font-size: 110px;
    letter-spacing: 12px;
  }
  .bold {
    font-weight: 800;
    line-height: 100px;
    font-family: "Baloo";
    text-transform: uppercase;
  }

  #greeting.ro {
    font-size: 56px;
    line-height: 56px;
  }
  #greeting.en {
    letter-spacing: 10px;
  }

  #greeting.de {
    letter-spacing: -4px;
  }

  #description1.ro {
    letter-spacing: 10px;
    line-height: 120px;
  }
  #description1.de {
    letter-spacing: 0;
    font-size: 114px;
  }

  #description2.ro {
    letter-spacing: -4px;
    font-size: 108px;
  }
  #description2.de {
    letter-spacing: -4px;
    font-size: 90px;
  }

  @media (max-width: 1450px) {
    #greeting.en {
      letter-spacing: 0px;
      font-size: 54px;
      line-height: 54px;
    }
    #description1.en {
      font-size: 100px;
    }
    #description2.en {
      font-size: 90px;
      letter-spacing: 10px;
    }
    .bold {
      line-height: 80px;
    }
  }
  @media (max-width: 1260px) {
    #greeting.en, #greeting.ro {
      font-size: 42px;
      line-height: 42px;
    }
    #description1.en, #description1.ro {
      font-size: 80px;
    }
    #description2.en {
      font-size: 80px;
      letter-spacing: 4px;
    }
    .bold {
      line-height: 70px;
    }
    #description1.ro {
      line-height: 80px;
      letter-spacing: 14px;
    }
    #description2.ro {
      line-height: 80px;
      font-size: 80px;
      letter-spacing: -1px;
    }
  }
  @media (max-width: 480px) {
    #greeting.en {
      font-size: 26px;
      line-height: 26px;
    }
    #description1.en {
      font-size: 42px;
    }
    #description2.en {
      font-size: 42px;
      letter-spacing: 4px;
    }
    .bold {
      line-height: 50px;
    }

    #greeting.ro {
      font-size: 36px;
      line-height: 40px;
      letter-spacing: -1px;
    }
    #description1.ro {
      font-size: 62px;
      line-height: 62px;
    }
    #description2.ro {
      font-size: 62px;
      letter-spacing: 1px;
    }
  }
  @media (max-width: 1380px) {
    #greeting.de {
      font-size: 46px;
      line-height: 46px;
    }
    #description1.de {
      font-size: 90px;
      letter-spacing: 1px;
    }
    #description2.de {
      font-size: 74px;
    }
  }
  @media (max-width: 720px) {
    #greeting.de {
      font-size: 36px;
      line-height: 36px;
      letter-spacing: 0;
    }
    #description1.de {
      font-size: 70px;
      line-height: 70px;
      letter-spacing: 9px;
    }
    #description2.de {
      font-size: 67px;
      line-height: 67px;
    }
  }
  @media (max-width: 550px) {
    #greeting.de {
      font-size: 26px;
      line-height: 26px;
      letter-spacing: 0;
    }
    #description1.de {
      font-size: 54px;
      line-height: 54px;
      letter-spacing: 5px;
    }
    #description2.de {
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2px;
    }
  }
  @media (max-width: 360px) {
    #greeting.de {
      font-size: 20px;
      line-height: 20px;
    }
    #description1.de {
      font-size: 50px;
      line-height: 50px;
      letter-spacing: 2px;
    }
    #description2.de {
      font-size: 42px;
      line-height: 42px;
      letter-spacing: -2px;
    }
    #greeting.ro {
      font-size: 28px;
      line-height: 28px;
    }
    #description1.ro {
      font-size: 60px;
      line-height: 60px;
      letter-spacing: 2px;
    }
    #description2.ro {
      font-size: 52px;
      line-height: 52px;
      letter-spacing: -2px;
    }
  }
}
.scroll {
  color: #ff5959;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
  line-height: 27.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social {
  position: absolute;
  bottom: 64px;
  right: $sidePadding;
  display: flex;
  flex-direction: column;
  gap: 25px;
  > div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    a {
      width: 30px;
      height: 30px;
      transition: all 200ms ease-in-out;
      &:hover {
        transform: translateX(-10px);
      }
    }
  }
}

@media (max-width: 1300px) {
  .photo {
    left: $sidePaddingTablet;
    width: 60%;
  }
  .right-side {
    right: $sidePaddingTablet;
  }
  .social {
    right: $sidePaddingTablet;
  }
  .ellipse {
    left: -300px;
    top: -200px;
    width: 82%;
  }
}

@media (max-width: 1180px) {
  .right-side {
    gap: 60px;
  }
  .photo {
    width: 60%;
  }
}

@media (max-width: 1060px) {
  .photo {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .scroll,
  .social {
    display: none;
  }
  .right-side {
    justify-content: flex-start;
    margin-top: 120px;
    width: 100%;
    right: 0;
  }
  .photo {
    max-height: 60vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
  .ellipse {
    width: 157%;
    left: -400px;
  }
  .title {
    color: white;
  }
}

@media (max-width: 680px) {
  .ellipse {
    left: -308px;
  }
}

@media (max-height: 800px) {
  .scroll {
    > img {
      height: 26vh;
    }
  }
}

@media (max-height: 600px) and (min-width: 1000px) {
  .scroll,
  .social {
    display: none;
  }
  .right-side {
    justify-content: center;
    position: relative;
  }
}

@media (max-height: 740px) {
  .photo {
    display: none;
  }
}

@media (max-width: 510px) {
  .ellipse {
    left: -282px;
  }
}

@media (max-width: 480px) {
  .ellipse {
    width: 720px;
    height: 720px;
    left: -228px;
    top: -22px;
  }
  #greeting.en {
    font-size: 32px;
    line-height: 32px;
  }
}
