<section>
  <div class="content">
    <img class="ellipse" src="./assets/icons/ellipse.svg" alt="ellipse" />
    <img class="photo" src="./assets/imgs/photo.png" alt="photo" />
    <div class="right-side">
      <div class="title">
        <span>Hello, I'm Bianca!</span>
        <span class="bold">Software </span>
        <span class="bold">Engineer</span>
      </div>
      <div class="scroll">
        <span>Scroll</span>
        <img src="./assets/icons/vertical_vector.svg" alt="" />
      </div>
    </div>
    <div class="social">
      <div><a href="https://github.com/BiancaFlorut/" target="_blank"><img src="./assets/icons/GitHub.svg" alt="GitHub"></a></div>
      <div><a href="#"><img src="./assets/icons/mail.svg" alt="Mail"></a></div>
      <div><a href="linkedin.com/in/bianca-florut" target="_blank"><img src="./assets/icons/LinkedIn.svg" alt="LinkedIn"></a></div>
    </div>
  </div>
</section>
