<section id="aboveTheFold">
  <div class="ellipse-container">
    <img class="ellipse" src="./assets/icons/ellipse.svg" alt="ellipse" />
  </div>
  <div class="content">
    
    <img class="photo" src="./assets/imgs/foto.png" alt="photo" />
    <div class="right-side">
      <div class="title">
        <span id="greeting" [ngClass]="getLangStyleClass()">{{
          "aboveTheFold.title" | translate
        }}</span>
        <span class="bold" id="description1" [ngClass]="getLangStyleClass()">{{
          "aboveTheFold.description1" | translate
        }}</span>

        <span
          class="bold"
          id="description2" [ngClass]="getLangStyleClass()"
          >{{ "aboveTheFold.description2" | translate }}</span
        >
      </div>
      <div class="scroll">
        <span>{{ "aboveTheFold.scroll" | translate }}</span>
        <img src="./assets/icons/vertical_vector.svg" alt="" />
      </div>
    </div>
    <div class="social">
      <div>
        <a href="https://github.com/BiancaFlorut/" target="_blank"
          ><img src="./assets/icons/GitHub.svg" alt="GitHub"
        /></a>
      </div>
      <div>
        <a href="mailto:bianca.florut@gmail.com"><img src="./assets/icons/mail.svg" alt="Mail" /></a>
      </div>
      <div>
        <a href="https://linkedin.com/in/bianca-florut" target="_blank"
          ><img src="./assets/icons/LinkedIn.svg" alt="LinkedIn"
        /></a>
      </div>
    </div>
  </div>
</section>
