<div class="project" [class.rowReverse]="rowReverse" >
  @if (project) {
  <div class="left">
    <div class="img-container" [class.jc_start]="!rowReverse" [class.jc_end]="rowReverse">
      <img src="{{ project.img }}" alt="{{ project.name }}" />
    </div>
  </div>
  <div class="right" [class.alignRight]="rowReverse" [class.padding_left]="!rowReverse" [class.padding_right]="rowReverse">
    <div class="content" [class.alignRight]="rowReverse">
      <div class="title">{{ project.name }}</div>
      <div class="tech-stack">
        @for (item of project.tech; track $index) {
        <span>{{ item }}</span>
        @if ($index < project.tech.length - 1) {
        <span>|</span>
        } }
      </div>
      <div class="description">{{ project.description }}</div>
    </div>
    <app-button [buttonText]="'GitHub'" [link]="project.link" (click)="openLink(project.link)"></app-button>
  </div>
  }
</div>
