$sidePadding: 100px;
$strongRed: #FF5959;
$maxWidth: 1440px;
$gray : #BBBBBB;
$redShadow: #FFD6D6;
$highlightRed: #DE0000;

@mixin displayFlex($fl_d: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $fl_d;
  justify-content: $jc;
  align-items: $ai;
}

