$sidePadding: 100px;
$headingColor: #ff5959;
$strongRed: #FF5959;
$maxWidth: 1440px;

@mixin displayFlex($fl_d: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $fl_d;
  justify-content: $jc;
  align-items: $ai;
}