$sidePadding: 100px;
$strongRed: #FF5959;
$maxWidth: 1440px;
$gray : #BBBBBB;
$redShadow: #FFD6D6;
$highlightRed: #DE0000;
$errorRed: #E61C40;

@mixin displayFlex($fl_d: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $fl_d;
  justify-content: $jc;
  align-items: $ai;
}

@mixin absPosition($top, $right, $bottom, $left, $size) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  width: $size;
  height: $size;
}