@import "../shared/shared_var.scss";

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  app-imprint {
    height: 100%;
  }
}

app-header, app-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.router {
  app-imprint {
    height: 100%;
  }
}

.languages {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .language { 
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $strongRed;
    }
  }
}