.ellipse {
  position: absolute;
  transform: translate(-22%, -8%);
  scale: 1.5;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}