
.ellipse_center {
  position: absolute;
  height: 206px;
  width: 206px;
  z-index: 2;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

@media (max-width: 1000px) {
  .ellipse_center {
    height: 156px;
    width: 156px;
  }
}