@import "../../../shared/shared_var.scss";

section {
  width: 100%;
  @include displayFlex(column, center, center);
  gap: 17px;
  background: rgb(255, 89, 89);
  background: linear-gradient(
    150deg,
    rgba(255, 89, 89, 1) 0%,
    rgba(255, 89, 89, 1) 30%,
    rgba(222, 0, 0, 1) 100%
  );
  padding: 100px 140px;
  box-sizing: border-box;
  color: white;
}

.container {
  max-width: $maxWidth;
  @include displayFlex(column, center, center);
  padding: 0 $sidePadding;
  box-sizing: border-box;
}

.title {
  font-family: "Baloo", sans-serif;
  font-weight: 800;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 1px;
}

.skills {
  @include displayFlex(row, space-around, center);
  gap: 128px;
  row-gap: 17px;
  flex-wrap: wrap;
  
  >div {
    @include displayFlex(column, flex-end, center);
    gap: 10px;
    height: 150px;
    transition: all 200ms ease-in-cubic-bezier(0,0,0.2,1);

    &:hover { 
      gap: 21px;
      font-weight: bold;
    }
    >img {
      height: 75px;
    }
  }
}
