@import "../../../shared/shared_var.scss";

section {
  width: 100%;
  @include displayFlex(column, center, center);
  gap: 17px;
  background: rgb(255, 89, 89);
  background: linear-gradient(
    150deg,
    rgba(255, 89, 89, 1) 0%,
    rgba(255, 89, 89, 1) 30%,
    rgba(222, 0, 0, 1) 100%
  );
  box-sizing: border-box;
  color: white;
}

.container {
  @include displayFlex(column, center, center);
  padding: 100px calc($sidePadding + 140px) ;
  max-width: $maxWidth;
  box-sizing: border-box;
  gap:17px;
}

.header-title {
  color: white;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
  max-width: 100%;
}

.skills {
  @include displayFlex(row, space-around, center);
  gap: 128px;
  row-gap: 17px;
  flex-wrap: wrap;
  
  >div {
    @include displayFlex(column, flex-end, center);
    gap: 10px;
    height: 150px;
    width: 89px;
    transition: all 200ms cubic-bezier(0,0,0.2,1);

    &:hover { 
      gap: 21px;
      font-weight: bold;
    }
    >img {
      height: 75px;
    }
  }
}

.header-title {
  max-width: none;
}

@media (max-width: 1300px) {
  .container {
    padding: 100px $sidePaddingTablet;
  }
}

@media (max-width: 1000px) {
  .skills {
    gap: 74px;
    row-gap: 17px;
    >div {
      height: 100px;
      text-align: center;
      >img {
        height: 60px;
      }
    }
  }
  .container {
    gap: 35px;
  }
}

@media (max-width: 530px) {
  .container {
    padding: 43px $sidePaddingMobile;
  }
}
