<section>
  
  <div class="container">
    <div class="ellipse-container">
      <img src="./assets/icons/ellipse.svg" alt="ellipse" class="ellipse1" />
      <img src="./assets/icons/ellipse.svg" alt="ellipse" class="ellipse2" />
      <img src="./assets/icons/ellipse.svg" alt="ellipse" class="ellipse3" />
      </div>
    <h1>Imprint</h1>
  <div>
    <span>This website is created by:</span>
    <span> Bianca Floruț</span>
    <div>
      <span>Seestraße 4,</span>
      <span>15306 Vierlinden</span>
      <span>Germany</span>
    </div>
    <span>Phone: +49 1575 3519482</span>
    <span>Email: bianca.florut&#64;gmail.com</span>
  </div>
  </div>
</section>
