@import "./shared/shared_var.scss";

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Baloo";
  src: url("./assets/fonts/Baloo/Baloo2-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf")
    format("truetype");
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

body,
html,
app-main-page {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

button {
  font-family: 'Poppins', sans-serif!important;
  border: 2px solid $strongRed;
  padding:15px 30px;
  border-radius: 10px;
  font-size: 23px;
  line-height: 27.6px;
  font-weight: 500;
  color: $strongRed;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0);
}
