@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Baloo';
  src: url('./assets/fonts/Baloo/Baloo2-VariableFont_wght.ttf');
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}