<footer>
  
  <div class="container">
    <div class="logo-container">
      <a [routerLink]="''"><img class="logo" src="./assets/icons/logo.png" alt="logo"></a>
    </div>
    <span>© Bianca Floruț 2024</span>
    <div class="social-container">
      <div class="social">
        <a href="https://github.com/BiancaFlorut/" target="_blank"><img src="./assets/icons/GitHub_neg.svg" alt=""></a>
        <a href="mailto:biancaflorut@gmail.com"><img src="./assets/icons/mail_neg.svg" alt=""></a>
        <a href="https://linkedin.com/in/bianca-florut" target="_blank"><img src="./assets/icons/LinkedIn_neg.svg" alt=""></a>
      </div>
    </div>
  </div>
  
</footer>
<div class="impress">
  <div>
    <a [routerLink]="'imprint'">{{'footer.Imprint' | translate}}</a>
  </div>
</div>