@import "../../../shared/shared_var.scss";
footer {
  width: 100%;
  box-sizing: border-box;
  height: 291px;
  background: rgb(255, 89, 89);
  background: linear-gradient(
    145deg,
    rgba(255, 89, 89, 1) 0%,
    rgba(255, 89, 89, 1) 52%,
    rgba(222, 0, 0, 1) 100%
  );
  color: white;
  font-size: 23px;
  line-height: 27.6px;
  @include displayFlex(column, center, center);
  padding: 0 100px;
  box-sizing: border-box;
  .container {
    width: 100%;
    max-width: $maxWidth;
    @include displayFlex(row, space-between, center);
  }
}

.logo-container {
  position: relative;
  left: 0;
  > a {
    position: absolute;
    left: $sidePadding;
  }
}

.logo {
  width: 64px;
  height: 64px;
}

.social {
  @include displayFlex(row, center, center);
  gap: 42px;

  position: absolute;
  right: $sidePadding;
  img {
    width: 30px;
    height: 30px;
    transition: all 200ms ease-in-out;
  }
  a:hover img {
    transform: scale(1.5);
  }
}

.social-container {
  position: relative;
  right: 0;
}

.impress {
  position: relative;
  width: 100%;
  bottom: 0;
  @include displayFlex(column, center, center);
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 2px;

  > div {
    bottom: 60px;
    
    position: absolute;
    a {
      text-decoration: none;
      display: inline-block;
      color: white;
      position: relative;
      &:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: -5px;
        content: "";
        display: block;
        height: 2px;
        left: 20%;
        position: absolute;
        background: #fff;
        transition: width 0.2s ease 0s;
        width: 0;
      }
      &:hover:after { 
        width: 60%; 
        right: 0; 
      }
      &:hover {
        font-weight: 700;
      }
    }
    
  }
}
